---
import PageLayout from '../../layouts/PageLayout.astro';
import { project } from "../../lib/markdoc/frontmatter.schema";

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../../../content/projects/*.md');

  const uniqueTags = [...new Set(allPosts.map((project) => project.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((project) => project.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { projects: filteredPosts, directory: "projects", frontmatterSchema: project},
    };
  });
}

const { tag } = Astro.params;
const { projects } = Astro.props;

const sortedProjects = projects
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---
<head>
  <script>
    var count=0;
		document.addEventListener("DOMContentLoaded", function(){
    var replacers = document.querySelectorAll('[data-replace]');
    for(var i=0; i<replacers.length; i++){
        let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
        Object.keys(replaceClasses).forEach(function(key) {
            replacers[i].classList.remove(key);
            count+=25;
            replacers[i].classList.add("delay-["+count+"ms]");
            replacers[i].classList.add(replaceClasses[key]);
        });
    }
});
	</script>
</head>
<PageLayout pageTitle={tag}>
<section slot="main">
  <p class="text-center text-lg">Projects tagged with <strong>{tag}</strong></p>
  <ul>
  {
        sortedProjects.map((project) => {
          const formattedDate = new Date(
            project.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start duration-1000 relative transform transition-all opacity-0 ease-out" data-replace='{ "opacity-0": "opacity-100" }'>
              <div class="title">
                <a
                  href={project.frontmatter.url}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <span>{project.frontmatter.title}</span>
                </a>
              </div>
              
            </li>
          );
        })
      }
      
    </ul>
    </section>
</PageLayout>