---
import PageLayout from '../../layouts/PageLayout.astro';
import PageMeta from "../../components/PageMeta.astro";
import { SITE_TITLE } from "../../config";
const allPosts = await Astro.glob('../../../content/projects/*.md');


const tagCount = {};
allPosts.forEach((post) => {
  post.frontmatter.tags.forEach((tag) => {
    tagCount[tag] = (tagCount[tag] || 0) + 1;
  });
});

const tags = [...new Set(allPosts.map((project) => project.frontmatter.tags).flat())]
  .sort((a, b) => {
    const countDifference = tagCount[b] - tagCount[a];
    if (countDifference === 0) {
      return a.localeCompare(b);
    }
    return countDifference;
  });
const pageTitle = "Tag Index";
---
<head>
  <script>
    var count=0;
		document.addEventListener("DOMContentLoaded", function(){
    var replacers = document.querySelectorAll('[data-replace]');
    for(var i=0; i<replacers.length; i++){
        let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
        Object.keys(replaceClasses).forEach(function(key) {
            replacers[i].classList.remove(key);
            count+=25;
            replacers[i].classList.add("delay-["+count+"ms]");
            replacers[i].classList.add(replaceClasses[key]);
        });
    }
});
	</script>
</head>
<PageLayout>
  <PageMeta title={`Tags | ${SITE_TITLE}`} slot="meta" />
<section slot="main" class="md:mx-[5rem]">
  <div class="flex-wrap flex items-center justify-around transition-colors duration-0">
    <h1 class=" max-w-[600px]:hidden text-3xl mb-2 text-center">TAGS</h1>
    <div class="w-full">
        <div class="pb-3 -mt-2 rounded-t-md border-x-[1px] mx-[-8px] mb-[-15px] border-t-[1px]  dark:border-white border-black"></div>
    </div>
    {tags.map((tag) => (
      <a
                  href={`/tags/${tag}`}
                  class="unset hover:text-text-link flex"
                >
      <div class="hover:scale-[105%] transition-transform duration-100 ease-in-out">
          <div class="bg-[#EFEFEF] dark:bg-[#1E1E1E] px-[1rem] p-1 m-1 duration-300 scale-[100%] rounded-md group grid grid-cols-[1fr] md:grid-cols-[1fr_auto] md:gap-2 items-start duration-opacity-1000 relative transform transition-opacity opacity-0 ease-in-out" data-replace='{ "opacity-0": "opacity-100" }'>
              
              <div class="title z-10">
                
                  {tag}
                
                
              </div>
            
            
            </div></div></a>
    ))}
  </div>
  </section>
</PageLayout>
