---
type Props = {
  url: string;
  width: string;
};
---

<div><p align="right" style="bg-color:[#262626] dark:bg-[#262626] bg-[#111111] text-white dark:text-black">(<a href="#readme-top">back to top</a>)</p></div>

