---
import HeaderLink from "./HeaderLink.astro";
---
<head>
<link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
<link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
</head>
<section class="scale-[0.95]">

  <center>
  <div class="translate-y-[-10px] min-[900px]:translate-y-[-0px] text-base max-[600px]:text-sm max-[650px]:mt-[10px] max-[650px]:text-sm max-[550px]:text-xs max-[400px]:mt-[20px] max-[400px]:text-[0.6rem] max-[370px]:mt-[10px] max-[350px]:text-[0.5rem] max-[300px]:hidden max-[300px]:m-0 max-[300px]:p-0">
    <center>
    <p class="mb- border-current translate-y-[-10px]" style="margin-bottom:-7px; margin-top:0px">
      <strong>
      Highlights
      </strong>
    </p>
  </center>
	<center style="margin-top:0px; margin-bottom:0px">
    <div class="flex items-center justify-between">
    <div
      class=" py-1 flex items-center justify-between m-auto border-t-[1px]" style="margin-top:0px"
    >
    
    <a
        class="transition duration-0 unset hover:text-text-link"
        href="https://github.com/nTh0rn/chess-engine"
      >
        <i class="fa-solid fa-chess transition duration-0" aria-hidden="true"></i>
        <span>Chess Engine (C++)</span></span>
  </a>
    <a
        class="transition duration-0 unset ml-4 hover:text-text-link"
        href="/articles/pseudokude"
      >
        <i class="fa-solid fa-puzzle-piece transition duration-0" aria-hidden="true"></i>
        <span>Sudoku Solver (Rust)<span class="over-hidden whitespace-nowrap"></span></span>
</a>
      <a
        class="transition duration-0 unset ml-4 hover:text-text-link "
        href="/articles/batch_raycaster"
      >
        <i class="fa-solid fa-plus-minus transition duration-0" aria-hidden="true"></i>
        <span>Integer Raycaster (Batch)</span></span>
  </a>
</div>
    </div>
    </center>

  </div>
  </center>
 
</section>


