---
---

<head>
  <link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
  <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />

  <script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>
</head>
<section class="mb-2">
  <div class="mb-6"></div>
  <div>
    <h1 class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-1 overflow-hidden">
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
        nikolas thornton
      </span>

    </h1>
    <center>
      <p class="mb-6 text-sm">
        Computer Science Undergraduate at Kennesaw State University
      </p>
    </center>
    <div class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
      style="font-size:min(4vw, calc(1 * 17px)); font-weight:thin">
      <a class="unset ml-2 hover:text-text-link" href="mailto: contact@nthorn.com">
        <i class="fa" aria-hidden="true" title="Email">&#xf0e0;</i>
        <span>contact@nthorn.com</span>
      </a>
      <a class="unset ml-4 hover:text-text-link" href="https://github.com/nTh0rn">
        <i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
        <span>GitHub</span>
      </a>

    </div>

    &emsp;&nbsp; Hi there! 


    <div class="absolute inset-x-30">
    <div class="group p-4 transition-all duration-300 relative">
      <div class="pl-5 w-1/2 float-right">
        <div class="absolute">
          <div class="opacity-0 group-hover:opacity-100 transition duration-100 flex flex-col">

            <ul class="mb-6">
              <li class="text-xs leading-5">
                Tutored CSU students in classes up to Computer Science 2 and Calculus 3.
              </li>
            </ul>
            <ul class="leading-8">
              <li class="text-xs leading-5">
                Handled basic administrative office tasks and oversaw the front desk.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-center items-center">
        <div class="w-1/2 group-hover:-translate-x-1/2 transition duration-300 relative transition-color-duration-0">

          <div class="flex items-center gap-x-2">
            <img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/100/teaching.png" />
            <div class="duration-0 text-xs dark:text-gray-50 light:text-gray-800">
              <p class="">Clayton State University</p>
              <span class="text-xs dark:text-gray-300 light:text-gray-700">Morrow, GA</span>
            </div>
          </div>
          <div class="my-0">
            <h3 class="text-xl font-bold dark:text-gray-200 light:text-gray-900">Peer Tutor / Front Desk Assistant</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-main-c">CS</span>
              <span class="m-1 ml-0 inline-block text-yellow-500">Calculus 3</span>
              <span class="m-1 ml-0 inline-block text-pink-500">Administration</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Teaching</span>
            </div>
            <div class="mt-2 text-sm text-gray-400">Nov 2022 - Apr 2024</div>
          </div>
        </div>
      </div>
    </div>
</div>

    <div class="group p-4 transition-all duration-300 relative">
      <div class="pl-5 w-1/2 float-right">
        <div class="absolute">
          <div class="opacity-0 group-hover:opacity-100 transition duration-100 flex flex-col">

            <ul class="mb-6">
              <li class="text-xs leading-5">
                Assisted professors during a week-long all-day bootcamp for incoming freshmen.
              </li>
            </ul>
            <ul class="leading-8">
              <li class="text-xs leading-5">
                Taught mathematical skills for inside the classroom and teamwork skills for outside the classroom.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-center items-center">
        <div class="w-1/2 group-hover:-translate-x-1/2 transition-all duration-300 relative">

          <div class="flex items-center gap-x-2">
            <img class="aspect-[2/2] w-16 dark:invert" src="https://img.icons8.com/ios/100/teaching.png" />
            <div>
              <h3 class="text-xl text-gray-50">Clayton State University</h3>
              <span class="text-xs text-gray-300">Morrow, GA</span>
            </div>
          </div>
          <div class="my-4">
            <h3 class="text-2xl font-bold dark:text-gray-200 light:text-gray-900">Teaching Assistant</h3>
            <div class="text-sm font-medium">
              <span class="m-1 ml-0 inline-block text-yellow-500">Mathematics</span>
              <span class="m-1 ml-0 inline-block text-lime-500">Teaching</span>
              <span class="m-1 ml-0 inline-block text-red-500">Team Leader</span>
            </div>
            <div class="mt-2 text-sm text-gray-400">Nov 2022 - Apr 2024</div>
          </div>
        </div>
      </div>
    </div>





    
    
    <div class="text-center">
      <hr class="w-1/2 mx-auto">
      <p class="text-2xl font-bold">
        Experience
      </p>
      <hr class="w-1/2 mx-auto">

    </div>
<br>

    <div class="group flex gap-x-2 relative h-8 hover:h-auto transition-all duration-800 relative ease-in-out">
      <img class="aspect-[2/2] w-6 h-6 dark:invert" src="https://img.icons8.com/ios/50/double-right.png" />
      <div>
      <p class="text-xl font-bold">Peer Tutor / Front Desk Assistant</p>
      <div class=" absolute opacity-0 group-hover:opacity-100 transition-all duration-100 flex flex-col">
      <p class="text-sm pl-5">Clayton State University</p>
      </div>
    </div>
    <br>
    <br>
    </div>
</section>