---
---
<style>
	.no-scrollbar::-webkit-scrollbar {
	display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	}
	.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(.17,.67,.65,1);
	}
</style>
<head>
	<link href="/fontawesome/css/brands.min.css" rel="stylesheet" />
	<link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
	<script>
		function resizeIframe(obj) {
		  obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
		}
	</script>
</head>
<section class="mb-2 ">
	<div class="mb-6"></div>
	<div class="duration-1000 relative transform transition-all translate-x-[200%] ease-out" data-replace='{ "translate-x-[200%]": "translate-x-0" }'>
		<h1 class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-1">
			<span
				class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
			nikolas thornton
			</span>
		</h1>
	</div>
	<div class="duration-[2000ms] relative delay-[200ms] transition-opacity opacity-0 ease-out" data-replace='{ "opacity-0": "opacity-100" }'>
		<div class="duration-1000 relative transform delay-[100ms] transition-transform -translate-x-[200%] ease-out" data-replace='{ "-translate-x-[200%]": "translate-x-0" }'>
			<center>
				<p class="mb-6 text-sm">
					Computer Science Undergraduate at Kennesaw State University
				</p>
			</center>
		</div>
	</div>
	<div class="duration-1000 relative transform delay-[200ms] transition-transform translate-y-[100vh] ease-out" data-replace='{ "translate-y-[100vh]": "translate-y-0" }'>
		<div class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1 flex-wrap"
			style="font-size:min(4vw, calc(1 * 17px)); font-weight:thin">
			<a class="unset ml-4 hover:text-text-link" href="https://github.com/nTh0rn">
			<i class="fa-brands fa-github" aria-hidden="true" title="GitHub"></i>
			<span>GitHub</span>
			</a>
			<a class="unset ml-4 hover:text-text-link" href="mailto: contact@nthorn.com">
			<i class="fa" aria-hidden="true" title="Email">&#xf0e0;</i>
			<span>contact@nthorn.com</span>
			</a>
			<a class="unset ml-4 hover:text-text-link" href="https://www.linkedin.com/in/nikolas-thornton-546650174/">
			<i class="fa-brands fa-linkedin" aria-hidden="true" title="LinkedIn"></i>
			<span>LinkedIn</span>
			</a>
		</div>
	</div>
	<div class="duration-1000 relative delay-[300ms] transition-transform translate-y-[100vh] ease-out" data-replace='{ "translate-y-[100vh]": "translate-y-0" }'>
	<div class="duration-[3000ms] relative delay-[300ms] transition-opacity opacity-0 ease-out" data-replace='{ "opacity-0": "opacity-100" }'>
	<div class="text-lg py-3 grid grid-cols-1 md:grid-cols-9 gap-x-[5px] mb-[3rem]">
		<div class="md:order-last col-span-9 md:col-span-4 flex h-min mb-0 mx-auto md:p-[5px] w-full justify-center">
			<div class="" >
				<div class=" m-0 p-0 break-inside-avoid-column max-[768px]:flex max-[768px]:flex-row max-[768px]:flex-wrap md:grid md:grid-cols-3 justify-center grid-wrap gap-[20px]">
					<!--python -->
					<a href="https://www.python.org/"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative transform delay-[100ms] transition-transform -translate-x-[100vw] ease-out" data-replace='{ "-translate-x-[100vw]": "translate-y-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/python.png" width="90" class="transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--cpp -->
					<a href="https://www.w3schools.com/cpp/cpp_intro.asp"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative delay-[150ms] transition-transform translate-y-[100vh] ease-out" data-replace='{ "translate-y-[100vh]": "translate-y-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/cpp.png" width="90" class=" transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--java -->
					<a href="https://www.java.com/en/download/help/whatis_java.html"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative transform delay-[200ms] transition-transform translate-x-[100vw] ease-out" data-replace='{ "translate-x-[100vw]": "translate-x-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/java.png" width="90" class=" transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--html -->
					<a href="https://www.w3schools.com/html/html_intro.asp"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative transform delay-[250ms] transition-transform -translate-x-[100vw] ease-out" data-replace='{ "-translate-x-[100vw]": "translate-x-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/html.png" width="90" class=" transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--css -->
					<a href="https://www.w3schools.com/css/css_intro.asp"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative delay-[300ms] transition-transform translate-y-[100vh] ease-out" data-replace='{ "translate-y-[100vh]": "translate-y-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/css.png" width="90" class=" transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--js -->
					<a href="https://www.w3schools.com/js/default.asp"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative transform delay-[350ms] transition-transform translate-x-[100vw] ease-out" data-replace='{ "translate-x-[100vw]": "translate-x-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/js.png" width="80" class="transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--astro -->
					<a href="https://astro.build/"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative transform delay-[400ms] transition-transform -translate-x-[100vw] ease-out" data-replace='{ "-translate-x-[100vw]": "translate-x-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/astro.png" width="90" class="transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--tailwind -->
					<a href="https://tailwindcss.com/showcase"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative delay-[450ms] transition-transform translate-y-[100vh] ease-out" data-replace='{ "translate-y-[100vh]": "translate-y-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/tailwind.png" width="90" class=" transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
					<!--gamemaker -->
					<a href="https://gamemaker.io/en"
						target="_blank" class="group max-[768px]:w-[50px] flex justify-center items-center unset hover:text-text-link duration-1000 relative delay-[500ms] transition-transform translate-x-[100vw] ease-out" data-replace='{ "translate-x-[100vw]": "translate-x-0" }' style="-webkit-filter: drop-shadow(5px 5px 5px #000000); filter: drop-shadow(5px 5px 5px #000000);">
					<img src="./images/icons/tech/gamemaker.png" width="90" class="transition ease-in-out duration-200 group-hover:scale-110 z-30 group-hover:z-50"/>
					</a>
				</div>
			</div>
		</div>
		<div class=" col-span-9 md:col-span-5 flex items-center">
			<div class="w-full p-4 m-3 md:m-3 max-[768px]:ml-0 text-center border-[#0F0F0F] rounded-lg sm:p-8 dark:border-[#F0F0F0]">
				<h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Hi there!</h5>
				<p class="mb-5 text-base text-gray-800 sm:text-lg dark:text-gray-400">Feel free to poke around and see some of the things I've made.</p>
				<div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
					<a href="#CV" class="group w-full sm:w-auto bg-[#EFEFEF] focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-[#1E1E1E] dark:focus:ring-gray-700">
						<div class="animate-pulse animate-infinite mr-3 pl-0">
							<img width="50" height="50" class="invert-0 dark:invert animate-wiggle animate-infinite invert" src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/external-interactive-blogger-and-influencer-xnimrodx-lineal-xnimrodx.png" alt="resume"/>
						</div>
						<div class="text-left rtl:text-right text-black dark:text-white group-hover:text-text-link">
							<div class="mb-1 text-xs">View my</div>
							<div class="-mt-1 font-sans text-sm font-semibold">Interactive CV</div>
						</div>
					</a>
					<a href="/projects" class="group h-[calc(auto+10px)] w-full sm:w-auto bg-[#EFEFEF] focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-[#1E1E1E] dark:focus:ring-gray-700">
						<img width="1" height="50" class="" src=""/>
						<img width="50" height="50" class="invert-0 dark:invert mr-3 px-[5px]" src="https://img.icons8.com/ios/50/source-code.png" alt="projects"/>
						<div class="text-left rtl:text-right text-black dark:text-white group-hover:text-text-link">
							<div class="mb-1 text-xs">Browse my</div>
							<div class="-mt-1 font-sans text-sm font-semibold">Projects</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="p-3 md:table w-full" id="CV">
	<div class="md:table-cell md:w-1/2 md:pr-2 md:pl-2">
		<h1 class="text-5xl text-center">EXPERIENCE</h1>
		<div class="w-full">
			<div class="pb-3 border-x-[2px] border-t-[2px] dark:border-white border-black"></div>
		</div>
		<!-- 
			<div class="group pb-5">
			<div class="Research">
			<div class="float-right pr-[37px]">
			<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
				<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
					class=""/>
			</div>
			<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
				<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
					class=""/>
			</div>
			</div>
			<div class="items-left text-left">
			<div class="align-left">
				<div class=" relative">
					<div class="flex gap-x-2 items-left">
						<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/50/laboratory.png" />
						<div class="duration-0 text-xs">
							<p class="">Clayton State University</p>
							<span class="text-xs dark:text-gray-300 light:text-gray-700">Morrow, GA</span>
						</div>
					</div>
					<div class="my-0">
						<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Computational Physics Researcher (Unpaid)</h3>
						<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
							<span class="m-1 ml-0 inline-block text-emerald-500">Python</span>
			              <span class="m-1 ml-0 inline-block text-purple-500">Arduino</span>
			              <span class="m-1 ml-0 inline-block text-red-500">Statistics</span>
			              <span class="m-1 ml-0 inline-block text-yellow-500">Physics</span>
							<span class="m-1 ml-0 inline-block text-pink-500">Problem Solving</span>
			              
						</div>
						<div class="mt-2 text-sm light:text-gray-800 dark:text-gray-400">2023</div>
					</div>
				</div>
			</div>
			</div>
			<div class="content" id="ResearchText">
			<ul>
				<li>Built an HRNG using an Arduino, <a target="_blank" href="https://www.hamamatsu.com/jp/en/product/optical-sensors/mppc.html">MPPC</a>, and <a target="_blank" href="https://www.hamamatsu.com/jp/en/product/optical-sensors/mppc/power-supply_driver-circuit/C11204-01.html">serially-programmed power supply.</a></li>
				<li>Wrote custom analysis software in Python for massive amounts of random data.</li>
				<li>Developed a unique test for random numbers titled <a target="_blank" href="/articles/fls_test">The Fractional Line Symmetry Test</a>.</li>
			</ul>
			</div>
			</div>
			</div>
			-->
		<div class="group pb-5">
			<div class="Tutor">
				<div class="float-right pr-[37px] md:pr-[50px]">
					<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
						<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
							class=""/>
					</div>
					<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
						<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
							class=""/>
					</div>
				</div>
				<div class="items-left text-left">
					<div class="align-left">
						<div class=" relative">
							<div class="flex flex-row gap-x-2 items-center">
								<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/100/teaching.png" />
								<div class="duration-0 text-xs">
									<p class="">Clayton State University</p>
									<span class="text-xs dark:text-gray-300 light:text-gray-700">Morrow, GA</span>
								</div>
							</div>
							<div class="my-0">
								<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Peer Tutor / Front Desk Assistant</h3>
								<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
									<span class="m-1 ml-0 inline-block text-main-c">Java</span>
									<span class="m-1 ml-0 inline-block text-emerald-500">Python</span>
									<span class="m-1 ml-0 inline-block text-yellow-500">Calculus 3</span>
									<span class="m-1 ml-0 inline-block text-pink-500">Administration</span>
									<span class="m-1 ml-0 inline-block text-lime-500">Teaching</span>
								</div>
								<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">Nov 2022 - May 2024</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content text-sm" id="TutorText">
					<ul>
						<li>Tutored CSU students in classes up to Computer Science 2 and Calculus 3.</li>
						<li>Handled basic administrative office tasks and oversaw the front desk.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-6">
			<div class="pb-3 col-start-2 col-span-5 border-r-[1px] border-t-[1px] dark:border-white border-black"></div>
		</div>
		<div class="group pb-5">
			<div class="Assist">
				<div class="float-right pr-[37px] md:pr-[50px]">
					<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
						<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
							class=""/>
					</div>
					<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
						<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
							class=""/>
					</div>
				</div>
				<div class="items-left text-left">
					<div class="align-left">
						<div class=" relative">
							<div class="flex flex-row gap-x-2 items-center">
								<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/100/teaching.png" />
								<div class="duration-0 text-xs">
									<p class="">Clayton State University</p>
									<span class="text-xs dark:text-gray-300 light:text-gray-700">Morrow, GA</span>
								</div>
							</div>
							<div class="my-0">
								<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Teaching Assistant</h3>
								<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
									<span class="m-1 ml-0 inline-block text-yellow-500">Mathematics</span>
									<span class="m-1 ml-0 inline-block text-pink-500">Leadership</span>
									<span class="m-1 ml-0 inline-block text-lime-500">Teaching</span>
								</div>
								<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">Aug 2023 - Aug 2023</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content text-sm" id="AssistText">
					<ul>
						<li>Assisted professors during a week-long all-day bootcamp for incoming freshmen.</li>
						<li>Taught mathematical skills for inside the classroom and teamwork skills for outside the classroom.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-6">
			<div class="pb-3 col-start-2 col-span-5 border-r-[1px] border-t-[1px] dark:border-white border-black"></div>
		</div>
		<div class="group pb-5">
			<div class="Legal">
				<div class="float-right pr-[37px] md:pr-[50px]">
					<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
						<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
							class=""/>
					</div>
					<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
						<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
							class=""/>
					</div>
				</div>
				<div class="items-left text-left">
					<div class="align-left">
						<div class=" relative">
							<div class="flex flex-row gap-x-2 items-center">
								<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/50/office.png" />
								<div class="duration-0 text-xs">
									<p class="">Leanne P. Cooper P.C.</p>
									<span class="text-xs dark:text-gray-300 light:text-gray-700">McDonough, GA</span>
								</div>
							</div>
							<div class="my-0">
								<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Legal Assistant</h3>
								<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
									<span class="m-1 ml-0 inline-block text-pink-500">Administration</span>
									<span class="m-1 ml-0 inline-block text-lime-500">Time Management</span>
								</div>
								<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">Feb 2021 - Dec 2021</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content text-sm" id="LegalText">
					<ul>
						<li>Drafted legal documents, straight-typed/organized discovery, and archived closed cases.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-6">
			<div class="pb-3 col-start-2 col-span-5 border-r-[1px] border-t-[1px] dark:border-white border-black"></div>
		</div>
		<div class="group pb-5">
			<div class="Dojo">
				<div class="float-right pr-[37px] md:pr-[50px]">
					<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
						<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
							class=""/>
					</div>
					<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
						<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
							class=""/>
					</div>
				</div>
				<div class="items-left text-left">
					<div class="align-left">
						<div class=" relative">
							<div class="flex flex-row gap-x-2 items-center">
								<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/50/school.png" />
								<div class="duration-0 text-xs">
									<p class="">CoderDojo McDonough</p>
									<span class="text-xs dark:text-gray-300 light:text-gray-700">McDonough, GA</span>
								</div>
							</div>
							<div class="my-0">
								<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Coding Mentor (Volunteer)</h3>
								<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
									<span class="m-1 ml-0 inline-block text-main-c">Arduino</span>
									<span class="m-1 ml-0 inline-block text-emerald-500">GameMaker</span>
									<span class="m-1 ml-0 inline-block text-yellow-500">Scratch</span>
									<span class="m-1 ml-0 inline-block text-lime-500">Teaching</span>
								</div>
								<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">Feb 2017 - Aug 2018</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content text-sm" id="DojoText">
					<ul>
						<li>Taught a class on the basics of Game Maker Studio to grades K-12.</li>
						<li>Assisted with other classes including Scratch, Arduino, and robotics.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="md:table-cell md:w-1/2 md:pr-2 md:pl-2">
	<h1 class="text-5xl text-center" id="CV">ACADEMICS</h1>
	<div class="w-full">
		<div class="pb-3 border-x-[2px] border-t-[2px] dark:border-white border-black"></div>
	</div>
	<div class="group pb-5 mb-0">
		<div class="items-left text-left">
			<div class="align-left">
				<div class=" relative">
					<div class="my-0">
						<div class="flex flex-row gap-x-2 items-center">
							<img class="aspect-[2/2] w-10 h-10 " src="/images/icons/schools/ksu.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
							<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Kennesaw State University</h3>
						</div>
						<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
							<span class="m-1 ml-0 inline-block text-main-c">TBA GPA</span>
						</div>
						<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">1 Semester</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-6">
		<div class="pb-3 col-start-2 col-span-5 border-r-[1px] border-t-[1px] dark:border-white border-black"></div>
	</div>
	<div class="group pb-5">
		<div class="CSU">
			<div class="float-right pr-[37px] md:pr-[50px] translate-y-1">
				<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
					<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
						class=""/>
				</div>
				<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
					<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
						class=""/>
				</div>
			</div>
			<div class="items-left text-left">
				<div class="align-left">
					<div class=" relative">
						<div class="my-0">
							<div class="flex flex-row gap-x-2 items-center">
								<img class="aspect-[2/2] w-10 h-10" src="/images/icons/schools/csu.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
								<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Clayton State University</h3>
							</div>
							<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
								<span class="m-1 ml-0 inline-block text-main-c font-bold animate-wiggle animate-infinite">4.0 GPA</span>
								<span class="m-1 ml-0 inline-block text-yellow-500">Math Club Vice-President</span>
								<span class="m-1 ml-0 inline-block text-red-500">President's List</span>
							</div>
							<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">4 Semesters</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content text-sm" id="CSUText">
				<ul>
					<li>Formerly the Treasurer, I was elected the Vice-President of The Math Club in Fall 2023.</li>
					<li>I helped organize the club and gave multiple math-talks to students on topics including fractals, chess, and 3D raycasting.</li>
					<li>I created, organized, and lead our monthly chess-days for the campus, which quickly became the club's most popular event.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid grid-cols-6">
		<div class="pb-3 col-start-2 col-span-5 border-r-[1px] border-t-[1px] dark:border-white border-black"></div>
	</div>
	<div class="group pb-5">
		<div class="items-left text-left">
			<div class="align-left">
				<div class=" relative">
					<div class="my-0">
						<div class="flex flex-row gap-x-2 items-center">
							<img class="aspect-[2/2] w-10 h-10 " src="/images/icons/schools/sctc.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
							<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Southern Crescent Technical College</h3>
						</div>
						<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
							<span class="m-1 ml-0 inline-block text-main-c font-bold animate-wiggle animate-infinite">4.0 GPA</span>
							<span class="m-1 ml-0 inline-block text-red-500">President's List</span>
						</div>
						<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">2 Semesters</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1 class="text-5xl text-center" id="CV">RESEARCH</h1>
	<div class="w-full">
		<div class="pb-3 border-x-[2px] border-t-[2px] dark:border-white border-black"></div>
	</div>
	<div class="group pb-5">
		<div class="Research">
			<div class="float-right pr-[37px] md:pr-[50px]">
				<div class="origin-center absolute transition duration-200 w-[100px] h-[100px] opacity-100 group-hover:opacity-0 max-[405px]:translate-y-[90px] max-[410px]:translate-y-[45px] max-[410px]:-translate-x-[5px] -translate-x-[50px] -translate-y-[5px]">
					<img class="aspect-[2/2] w-12 animate-wiggle animate-infinite " src="https://img.icons8.com/color/48/trophy.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
				</div>
				<div class="origin-center absolute dark:invert transition duration-200 w-[40px] group-hover:rotate-90 opacity-100 group-hover:opacity-0">
					<img width="40" height="40" src="/images/icons/plus.png" alt="down-squared--v2"
						class=""/>
				</div>
				<div class="origin-center absolute dark:invert transition duration-200  w-[40px] group-hover:rotate-90 rotate-0">
					<img width="42" height="42" src="/images/icons/minus.png" alt="down-squared--v2"
						class=""/>
				</div>
			</div>
			<div class="items-left text-left">
				<div class="align-left">
					<div class=" relative">
						<div class="flex flex-row gap-x-2 items-center">
							<img class="aspect-[2/2] w-10 dark:invert" src="https://img.icons8.com/ios/50/laboratory.png" />
							<div class="duration-0 text-xs w-[125%]">
								<p class="">Clayton State <br class="min-[365px]:hidden">University</p>
								<span class="text-xs dark:text-gray-300 light:text-gray-700">Morrow, GA</span>
							</div>
						</div>
						<div class="my-0">
							<h3 class="transition-all duration-0 text-xl font-bold dark:text-gray-200 light:text-gray-900">Computational Physics Research</h3>
							<div class="text-sm font-medium contrast-150 dark:contrast-100 brightness-75 dark:brightness-100">
								<span class="m-1 ml-0 inline-block text-emerald-500">Python</span>
								<span class="m-1 ml-0 inline-block text-purple-500">Arduino</span>
								<span class="m-1 ml-0 inline-block text-red-500">Statistics</span>
								<span class="m-1 ml-0 inline-block text-yellow-500">Physics</span>
								<span class="m-1 ml-0 inline-block text-pink-500">Problem Solving</span>
							</div>
							<div class="mt-1 text-sm light:text-gray-800 dark:text-gray-400">Fall 2023 - Present</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content text-sm absolute" id="ResearchText">
				<div class="my-0">
					<div class="flex flex-row gap-x-2 items-center ">
						<img class="aspect-[2/2] animate-wiggle animate-infinite pt-2 w-10 h-12 duration-200 opacity-0 group-hover:opacity-100" src="https://img.icons8.com/color/48/trophy.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
						<h3 class="transition-all duration-0 text-base font-bold">Won 1st place at <a target="_blank" href="https://www.clayton.edu/cims/symposium/index">CSU's 2024 CIM's Symposium</a> Research Poster Competition</h3>
					</div>
					<div class="my-0">
						<div class="flex flex-row gap-x-2 items-center ">
							<img class="aspect-[2/2] animate-wiggle animate-infinite pt-2 w-10 h-12 duration-200 opacity-0 group-hover:opacity-100" src="https://img.icons8.com/color/48/moleskine.png" style="-webkit-filter: drop-shadow(5px 5px 5px #1a1a1a); filter: drop-shadow(5px 5px 5px #1a1a1a);">
							<h3 class="transition-all duration-0 text-base font-bold"><a target="_blank" href="https://arxiv.org/abs/2404.09395">Read the paper!</a></h3>
						</div>
						<ul>
							<li>Built a Photon-based Hardware Random Number Generator using an Arduino, <a target="_blank" href="https://www.hamamatsu.com/jp/en/product/optical-sensors/mppc.html">MPPC</a>, and <a target="_blank" href="https://www.hamamatsu.com/jp/en/product/optical-sensors/mppc/power-supply_driver-circuit/C11204-01.html">serially-programmed power supply.</a></li>
							<li>Wrote custom analysis software in Python for massive amounts of random data.</li>
							<li>Developed a unique test for random numbers titled <a target="_blank" href="/articles/fls_test">The Fractional Line Symmetry Test</a>.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="max-[768px]:pb-[400px] md:pb-[300px]"></div>
	</div>
	<script>
		function lookforCascade(cascClass, textClass) {
		  var coll = document.getElementsByClassName(cascClass);
		  var i;
		  
		  for (i = 0; i < coll.length; i++) {
		    coll[i].addEventListener("mouseover", function() {
		      this.classList.toggle("active");
		      var content = document.getElementById(textClass);
		      if (content.style.maxHeight){
		        content.style.maxHeight = null;
		      } else {
		        content.style.maxHeight = content.scrollHeight + "px";
		      } 
		    });
		    coll[i].addEventListener("mouseout", function() {
		      this.classList.toggle("active");
		      var content = document.getElementById(textClass);
		      if (content.style.maxHeight){
		        content.style.maxHeight = null;
		      } else {
		        content.style.maxHeight = content.scrollHeight + "px";
		      } 
		    });
		  }
		}
		
		lookforCascade("Tutor", "TutorText");
		lookforCascade("Assist", "AssistText");
		lookforCascade("Research", "ResearchText");
		  lookforCascade("Legal", "LegalText");
		  lookforCascade("Dojo", "DojoText");
		  lookforCascade("CSU", "CSUText");
		
		
		
		  window.addEventListener('scroll', function() {
		  var distToBottom = document.documentElement.offsetHeight-(document.documentElement.clientHeight + document.documentElement.scrollTop);
		  if(distToBottom == 0) {
		    window.scrollTo(0,document.documentElement.scrollTop-5); 
		  }
		}, false);
		
	</script>
</section>