---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Highlights from "../components/Highlights.astro";

export interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<!DOCTYPE html>
<html class="main_c" lang="en">

 
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />








<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
    
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
	<script type="text/javascript" src="/p5js/bg_node_dimmer.js"></script>
  </head>

  <body
    class="max-w-6xl mx-auto px-6 sm:px-8"
  >
    <Header />
    <main id="main" style="padding-top:3rem" class="mx-[5rem]">
    
      <section class="blog-post prose max-w-none prose-newspaper">
        <center><h1 class="
            m-0 pt-1 mb-[0.375em] 
            after:mt-6 after:content-[''] after:block after:h-[1px] after:w-[100%] after:border-b-[1px] after:border-current  
        ">{title}</h1></center>
        <time class="block mb-[2em] text-text-muted" >{formattedDate}</time>
        <span id="top"></span>
        <slot name="content"/>
        <div class="float-right transition duration-500 opacity-0" id="goto_top"><p align="right" id="goto_top_text" class="transition transform duration-500 rounded dark:bg-[#111111] bg-[#EDEDED] dark:text-white text-black fixed bottom-2 ml-[-130px]">(<a href="#top">back to top</a>)</p></div>
      </section>

      
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
      .math-inline svg {
    display: inline !important;
}
    
    </style>

    <script>
      window.addEventListener('scroll', function() {
		  var goto_top = document.getElementById("goto_top");
      var goto_top_text = document.getElementById("goto_top_text");
      var distToBottom = document.documentElement.scrollTop;
		  if(document.documentElement.scrollTop > 300) {
        goto_top.classList.remove("opacity-0");
        goto_top.classList.add("opacity-100");
        goto_top_text.classList.remove("translate-y-[75px]");
        goto_top_text.classList.add("translate-y-[0px]");
		  } else {
        goto_top.classList.remove("opacity-100");
        goto_top.classList.add("opacity-0");
        goto_top_text.classList.add("translate-y-[75px]");
        goto_top_text.classList.remove("translate-y-[0px]");
      }
		}, false);
    </script>
  </body>
</html>
